@import "./fonts/font.css";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
    direction: rtl;
}

.card{
    --tw-bg-opacity: 1;
    background-color: rgb(36 42 56 / var(--tw-bg-opacity));
}

.sabzlearn-txt{
    color: rgb(34 197 94 / var(--tw-text-opacity));
}

hr{
    color: #ffffff1a !important;
    margin: auto;
    width: 90%;
}